In [1]:
import sys
import pandas as pd
import numpy as np
import re
import os
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import plotly.express as px
import plotly.graph_objects as go
import datetime, warnings
from IPython.display import Image
from IPython.display import display
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
rawdf = pd.read_csv("AvgWeekdaySpeedSample.csv")

In [6]:
display(rawdf[:12])

    SensorID  Month   Mon  Tues   Wed  Thur   Fri   Sat   Sun
0   893332.0      1   0.0   0.0   0.0   0.0   0.0   0.0   0.0
1        NaN      2   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2        NaN      3   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3        NaN      4   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4        NaN      5  64.3  63.2  62.1  62.5  63.7  69.1  69.8
5        NaN      6  62.8  63.1  61.9  62.7  63.6  68.9  70.0
6        NaN      7  64.1  63.2  64.0  65.0  65.3  68.4  69.6
7        NaN      8  63.0  62.4  62.4  62.3  63.6  68.6  70.1
8        NaN      9  64.2  63.8  63.6  62.5  64.1  69.3  70.1
9        NaN     10  64.0  63.3  62.8  62.8  64.6  69.4  70.0
10       NaN     11  64.9  62.0  61.0  61.9  63.3  69.4  70.3
11       NaN     12  65.0  62.8  63.4  62.0  61.7  66.8  69.5

In [ ]:
dots = sns.load_dataset("dots").query("align == 'dots'")
ax = sns.lineplot(x="time", y="firing_rate",
                  hue="coherence", style="choice",
                  data=dots)